.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#filestructure {
    margin-top: 3%;
    margin-left: 25%;
}

#adv-inheritance-add-button {
    border: 1px solid #6ebf6e;
    background-color: #6ebf6e;
    color: #fff;
    cursor: pointer;
}

#adv-inheritance-remove-button {
    border: 1px solid #f86c6b;
    background-color: #f86c6b;
    color: #fff;
    cursor: pointer;
}

#adv_perm_object_name {
    margin-bottom: 15px;
}

#adv_perm_edit {
    margin-bottom: 15px;
    background-color: #007fff;
    color:#fff;
    border: 1px solid #003eff;
}

.legend {
    width: 25%;
    margin-top: 4%;
    margin-left: 25%;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.legend #top {
    background-color: rgb(238, 238, 238);
    padding: 3%;
    border: 1px solid #dddddd;

}

.legend #contents {
    padding: 3%;
    line-height: 1.5em;
    border: 1px solid #dddddd;

}

#permdialog_grouped_permissions {
    line-height: 1.3em;
    padding: 5px;
}

#permdialog_file_user_employees, #permdialog_file_user_employee1, #permdialog_file_user_employee2, #permdialog_file_user_employee3, #permdialog_file_user_employee4, #permdialog_file_user_administrator, #permdialog_file_user_new_manager, #permdialog_file_user_intern, #permdialog_file_user_professor, #permdialog_file_user_students, #permdialog_file_user_teaching_assistant {
    padding: 5px;
}
